<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trip.mymy.mybatis.ChatMapper">
    <resultMap type="com.trip.mymy.dto.ChatDTO" id="chat">
    	<id property="roomNum" column="ROOMNUM" />
    	<result property="member" column="MEMBER_ID_PK" />
    	<result property="roomName" column="MEMBER_ID_PK" />
    	<result property="lastChat" column="LAST_CHAT" />
    </resultMap>
    <resultMap  type="com.trip.mymy.dto.ChatDTO" id="chatMember">
	    <id property="roomNum" column="ROOM_NUM_PK"/>
	    <id property="member" column="MEMBER_ID_PK"/>
	    <result property="enterDate" column="ENTER_DATE"/>
	    <result property="leaveDate" column="LEAVE_DATE"/>
	    <result property="role" column="ROLE"/>
	</resultMap>
	<resultMap  type="com.trip.mymy.dto.ChatMessageDTO" id="message">
	    <id property="msgNum" column="MSG_NUM_PK"/>
	    <result property="roomNum" column="ROOM_NUM_FK"/>
	    <result property="member" column="MEMBER_ID_FK"/>
	    <result property="msgDate" column="MSG_DATE"/>
	    <result property="msg" column="MSG"/>
	    <result property="type" column="MSG_TYPE"/>	    
	</resultMap>
    
    <select id="findChatList" resultMap="chat">
    	select * from CHAT_ROOM_TB where ROOM_NUM_PK = #{roomNum}
    </select>
    <insert id="createRoom">
    	insert into CHAT_ROOM_TB (ROOM_NUM_PK, MEMBER_ID_FK, ROOM_NAME) 
    	values (CHAT_ROOM_TB_SEQ.nextval, #{member}, #{roomName})
    </insert>
    <insert id="insertChatMember">
    
    </insert>
</mapper>